<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表页</title>
    <script>
    window.bgdataLayer = window.bgdataLayer || [];
    function bge(){bgdataLayer.push(arguments);}
    bge('init', "901193158324883712");
    bge('event', 'page_view');
</script>
<script async src="https://gray-api.imotech.video/ad/events.js?pixel_id=901193158324883712"></script>
<!--<script async src="https://api.imotech.video/ad/events.js?pixel_id=90757238600765696"></script>-->

    <!--<script>-->
        <!--window.addEventListener('load', function () {-->
            <!--window.bgdataLayer = window.bgdataLayer || [];-->
            <!--window.bge = function () {-->
                <!--bgdataLayer.push(arguments);-->
            <!--};-->
            <!--bge('init', "90848419229339904");-->
            <!--bge('event', 'page_view');-->

            <!--var s = document.createElement('script');-->
            <!--s.src = 'https://gray-api.imotech.video/ad/events.js?pixel_id=90848419229339904';-->
            <!--document.head.appendChild(s);-->
        <!--});-->
    <!--</script>-->
</head>
<body> 
    <button onclick="bge_form_button()"><h1>触发from_button事件(阈值3)</h1></button>
    <h5>跨域需绑host：172.24.118.38 pixel1.test</h5>
    <h5>测试9</h5>
    <!--<a href="http://pixel1.test:5000/test2" target="_blank"><h1>跨域跳去第二个页面(新窗口)</h1></a>-->
    <!--<a href="http://pixel1.test:5000/test2" ><h1>跨域跳去第二个页面</h1></a>-->
    <a href="http://172.24.118.44:5000/test2" ><h1>本域跳去第二个页面</h1></a>
    <a href="http://172.24.118.44:5000/test2" target="_blank"><h1>本域跳去第二个页面(新窗口)</h1></a>

    <!--<img src="https://www.spotx.tv">-->

    <script>
    function bge_form_button() {
        bge('event', 'form_button');
    }

    </script>
</body>
</html>
